// Import gridle :
@import '../gridle/_gridle';

@include gridle_setup((
    context : 12,
    gutter-width : 1rem,
    debug : true
));

//special
@include gridle_register_state ( special , (
    max-width : $cinema,
    gutter-width : 1rem,
    context : 10
));
//

@include gridle_register_state ( desktop , (
    max-width : $desktop,
    gutter-width :1rem
));

@include gridle_register_state ( tablet , (
    max-width : $tablet_vertical,
    gutter-width : .5rem
));

@include gridle_register_state ( smalltablet , (
    max-width : $smalltablet,
    gutter-width : .5rem
));

@include gridle_register_state ( phablet , (
    max-width : $phablet,
    gutter-width : .5rem,
    context : 6
));

@include gridle_register_state ( phone , (
    max-width : $bigphone,
    gutter-width : .5rem,
    context : 6
));

// // Generate classes :
@include gridle_generate_classes();


.container {
    margin: 0 auto;
    max-width: $max_width;
    @include desktop-tablet {
        margin: 0 2rem;
    }

    @include tablet-down {
        max-width: none;
        margin: 0 2rem;
    }

    @include phablet-down {
        margin: 0 1rem; 
        &.full-container { margin: 0 auto; }
    }

    &.forced{
        width: 100%;
        height: 100%;
        @include desktop-tablet {
            margin: 0;
            padding: 0 2rem;
        }

        @include tablet-down {
            margin: 0;
            padding: 0 2rem;
        }
    
        @include phablet-down {
            margin: 0;
            padding: 0;
        }
    }
}
