// Definiendo mediaqueries
$cinema:            1400px;
$desktop:           1200px;
$tablet_horizontal: 1024px;
$danger_zone:       940px;
$tablet_vertical:   850px;
$smalltablet:       768px;
$phablet:           640px;
$bigphone:          480px;
$phone:             320px;


@mixin media-query( $type ){
    //cinema = 1200px;
    @if $type == cinema-only {
        @media only screen and (min-width: $cinema) { @content; }
    }
    @if $type == cinema-down {
        @media only screen and (max-width: $cinema) { @content; }
    }
    //desktop = 1200px;
    @if $type == desktop-only {
        @media only screen and (min-width: $desktop) { @content; }
    }
    @if $type == desktop-down {
        @media only screen and (max-width: $desktop) { @content; }
    }
    //desktop to tablet min = 1024px max 1200px
    @if $type == desktop-tablet {
        @media only screen and (min-width: $tablet_horizontal) and (max-width: $desktop) { @content; }
    }
    //tablet to desktop min = 850px max = 1024px
    @if $type == tablet-only {
        @media only screen and (min-width: $tablet_vertical) and (max-width: $tablet_horizontal) { @content; }
    }
    //horizontal tablet = 1024px
    @if $type == tablet-up {
        @media only screen and (min-width: $tablet_horizontal) { @content; }
    }
    @if $type == tablet-down {
        @media only screen and (max-width: $tablet_horizontal) { @content; }
    }
    //vertical tablet = 850px
    @if $type == vertical-tablet-up {
        @media only screen and (min-width: $tablet_vertical) { @content; }
    }
    @if $type == vertical-tablet-down {
        @media only screen and (max-width: $tablet_vertical) { @content; }
    }
    //smalltablet = 768px
    @if $type == smalltablet-up {
        @media only screen and (min-width: $smalltablet) { @content; }
    }
    @if $type == smalltablet-down {
        @media only screen and (max-width: $smalltablet) { @content; }
    }
    //phablet to tablet min = 640px max = 850px
    @if $type == phablet-only {
        @media only screen and (min-width: $phablet) and (max-width: $tablet_vertical - 1) { @content; }
    }
    //phablet = 640px
    @if $type == phablet-up {
        @media only screen and (min-width: $phablet) { @content; }
    }
    @if $type == phablet-down {
        @media only screen and (max-width: $phablet) { @content; }
    }
    //bigphone = 480px
    @if $type == bigphone-up {
        @media only screen and (min-width: $bigphone) { @content; }
    }
    @if $type == bigphone-down {
        @media only screen and (max-width: $bigphone) { @content; }
    }
    //phone = 320px
    @if $type == phone-only {
        @media only screen and (max-width: $phone) { @content; }
    }

    //phone = 940px
    @if $type == danger-zone {
        @media only screen and (min-width: $tablet_vertical) and (max-width:$danger_zone) { @content; }
    }
}

@mixin cinema-only { @include media-query(cinema-only) { @content }; }
@mixin cinema-down { @include media-query(cinema-down) { @content }; }

@mixin desktop-only { @include media-query(desktop-only) { @content }; }
@mixin desktop-down { @include media-query(desktop-down) { @content }; }

@mixin desktop-tablet { @include media-query(desktop-tablet) { @content }; }

@mixin tablet-only { @include media-query(tablet-only) { @content }; }
@mixin tablet-up { @include media-query(tablet-up) { @content }; }
@mixin tablet-down { @include media-query(tablet-down) { @content }; }

@mixin vertical-tablet-up { @include media-query(vertical-tablet-up) { @content }; }
@mixin vertical-tablet-down { @include media-query(vertical-tablet-down) { @content }; }

@mixin smalltablet-up { @include media-query(smalltablet-up) { @content }; }
@mixin smalltablet-down { @include media-query(smalltablet-down) { @content }; }

@mixin phablet-only { @include media-query(phablet-only) { @content }; }
@mixin phablet-up { @include media-query(phablet-up) { @content }; }
@mixin phablet-down { @include media-query(phablet-down) { @content }; }

@mixin bigphone-up { @include media-query(bigphone-up) { @content }; }
@mixin bigphone-down { @include media-query(bigphone-down) { @content }; }

@mixin phone-only { @include media-query(phone-only) { @content }; }
@mixin danger-zone { @include media-query(danger-zone) { @content }; }

///// mapa de media queries
$medias : (
    cinema-only,
    cinema-down,
    desktop-only,
    desktop-down,
    desktop-tablet,
    tablet-only,
    tablet-up,
    tablet-down,
    vertical-tablet-up,
    vertical-tablet-down,
    smalltablet-up,
    smalltablet-down,
    phablet-only,
    phablet-up,
    phablet-down,
    bigphone-up,
    bigphone-down,
    phone-only,
    danger-zone
);