///////////////////////////////////
////////// Workspace
///////////////////////////////////
body {
    font-family: $font_base;
    font-size: $size_16;
    line-height: 1.5rem;
    background: $color_white;
    color: $color_dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    overflow-x: hidden;
}
a, a:hover{@include transitional;}

.button{
    font-size: $size_13;
    line-height: 1rem;
    font-weight: $weight_bold;
    text-transform: uppercase;
    font-family: $font_base;
    padding: .75rem 1.5rem;
    background: $color_complementario_regular;
    border: 1px solid $color_complementario_regular;
    &:hover{
        background: $color_complementario_dark;
        border-color: $color_complementario_dark;
    }
    &--full{
        font-size: $size_13;
        width: 100%;
        padding: $size_14;
    }
    &--wide{
        max-width: 20rem;
        width: 100%;
        @include smalltablet-down{
            width: 100%;
            max-width: 100%;
        }
    }
    &--link{
        font-size: $size_14;
        font-weight: $weight_medium;
        color: $color_light;
        text-decoration: underline;
        line-height: 1rem;
        &:hover{
            color: $color_white;
        }
        &-color{
            @extend .button--link;
            color: $color_complementario_regular;
            &:hover{
                color: $color_complementario_dark;
            }
        }
    }
    &.ghost{
        background: transparent;
        color: $color_complementario_regular;
        border: 1px solid $color_complementario_regular;
        &:hover{
            color: $color_white;
            background: $color_complementario_regular;
        }
    }
    &.download{
        &:after{
            @include get-icon($icon-file_download);
            margin-left: .25rem;
        }
    }
}
.silence-link{
    color: $color_black;
    text-decoration: none;
    &:hover{
        color: $color_black !important;
        text-decoration: none !important;
        @include smalltablet-down{
            color: $color_complementario_regular !important;
            text-decoration: underline !important;
        }
    }
}
.container{
    .horizon--min{
        @include smalltablet-down{
            margin: 0;
        }
    }
}
article,div{
    p,h1,h2,h3,h4,h5,h6{
        max-width: 100%;
    }
}
/***************/
/****HEADER****/
/***************/
.main-header{
    @extend .clearfix;
}
.desktop-sitios-hidden{
    background: $color_corporativo_dark;
    .top-bar-menu-list{
        padding-left: 1rem;
        li a{
            color: $color_white;
            font-size: $size_12;
            line-height: 1rem;
            text-decoration: none;
            &:hover{
                color: $color_light;
                text-decoration: underline;
            }
        }
    }
}
.menu-top{
    background: $color_corporativo_regular;
    padding: 0;
    li.menu-item{
        display: flex;
        align-items: center;
        padding: 0;
        margin: .5rem 0;
        border-right: 1px solid rgba($color_white, .25);
        &:last-child,&.last{
            @include tablet-up{
                border: none;
            }
        }
        a{
            padding: 0 .5rem;
            color: $color_light;
            font-weight: $weight_bold;
            font-size: $size_12;
            line-height: 1rem;
            &:hover{
                text-decoration: underline;
                color: $color_white;
            }
        }
        &.external{
            display: flex;
            align-items: center;
            a:after{
                @include get-icon($icon-open_in_new);
                margin-left: .25rem;
                @include vertical-tablet-down{
                    display: inline-block;
                    @include get-icon($icon-open_in_new);
                }
            }
        }
    }
    button.top-bar-toggle{
        font-size: $size_12;
        font-weight: $weight_bold;
        padding: .5rem .5rem;
        padding-right: 1rem;
        line-height: 1rem;
        &:after{top:.5rem;}
        &:hover{
            background: $color_corporativo_dark;
        }
    }
}
.bar-below{
    content: ' ';
    height: .25rem;
    background: $color_complementario_regular;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    @include transitional;
}
.header-body{
    padding: .5rem 0;
    background: $color_white;
    border-bottom: 1px solid $color_border;
    .logo-holder{
        margin: 0;
        position: relative;
        @include vertical-tablet-up{
            z-index: 4;
        }
        &__img{
            max-width: 5rem;
            max-height: 6rem;
            @include vertical-tablet-down{
                max-width: 3rem;
                max-height: 4rem;
            }
        }
    }
    .logo-holder__title{
        font-size: $size_12;
        line-height: 1rem;
        max-width: 8rem;
        align-items: flex-end;
        border-left-color: rgba($color_corporativo_alt, .5);
        text-transform: uppercase;
        font-family: $font_aux;
        margin: .25rem 0 .25rem .5rem;
        a{color: $color_corporativo_dark;}
        @include danger-zone{
            align-items: flex-start;
        }
        @include vertical-tablet-down{
            font-size: $size_10;
            line-height: $size_12;
            align-items: center;
            max-width: 6rem;
        }
    }
    .desktop-main-nav.principal{
        padding-top: 2rem;
        position: relative;
        z-index: 1;
        @include danger-zone{
            padding-top: 3rem;
            .menu-principal{
                position: absolute;
                width: 100%;
                right: 0;
            }
        }
        li.menu-item{
            font-family: $font_base;
            border: none;
            font-weight: $weight_bold;
            margin: .25rem .875rem .25rem 0;
            display: flex;
            align-items: center;
            position: relative;
            @include transitional;
            @include danger-zone{
                margin-right: .75rem;
            }
            &:last-child{
                margin: .5rem 0;
            }
            a{
                padding: .25rem 0;
                color: $color_dark;
                font-size: $size_12;
                line-height: $size_16;
                &:before{
                    @extend .bar-below;
                    width: 0;
                    @include transitional;
                }
                @include danger-zone{
                    font-size: $size_12;
                    line-height: 1rem;
                }
            }
            &.search{
                display: flex;
                align-items: center;
                margin: 0;
            }
            &.menu-item-has-children{
                a{
                    padding-right: 1.5rem;
                }
                &:after{
                    color: $color_dark;
                    top: .125rem;
                }
            }
            .menu-search{
                display: flex;
                max-width: 11rem;
                border: 1px solid $color_border;
                &__field,&__button{
                    border: none;
                    background: $color_white;
                    &:focus{
                        outline: none;
                    }
                }
                &__field{
                    width: calc(100% - 1.5rem);
                    padding: .5rem;
                    font-size: $size_12;
                }
                &__button{
                    border: none;
                    width: 1.5rem;
                    background: $color_white url($images_path + 'icons-dark/ic_search_small.svg') 50% 50% no-repeat;
                    @include transitional;
                    &:hover{
                        background: $color_corporativo_light url($images_path + 'icons-light/ic_search_small.svg') 50% 50% no-repeat;
                    }
                }
            }
            &:hover{
                background: transparent;  
                @include transitional;          
                >a:before{
                    @extend .bar-below;
                    width: 50%;
                    @include transitional;
                }
                a, &:after{color: $color_dark;}
            }
            &.current{
                >a:before{
                    @extend .bar-below;
                    width: 100%;
                }
            }
        }
        
    }
    .mobile-nav{
        .menu-principal li{
            border: none;
            border-bottom: 1px solid rgba($color_border, .5);
            background: $color_white;
            a{
                font-size: 1rem;
                line-height: 1.25rem;
                color: $color_dark;
                padding: 1rem .5rem;
            }
            @include active-state{
                background: $color_corporativo_regular;
                a{
                    color: $color_white;
                }
            }
        }
        .menu-top-items li{
            background: $color_corporativo_regular;
            border-bottom: 1px solid rgba($color_border, .5);
            a{
                font-size: $size_14;
                line-height: $size_18;
                font-weight: $weight_bold;
                color: $color_light;
                padding: 1rem .5rem;
            }
            @include active-state{
                background: $color_corporativo_dark;
                a{
                    color: $color_white;
                }
            }
            &.external a:after{
                @include get-icon($icon-open_in_new);
                margin-left: .5rem;
            }
            &.last{
                border: none;
            }
        }
    }
    .mobile-nav-deployer{
        background: $color_white;
        border-right: 1px solid $color_border;
        span{
            height: 3px;
            background: $color_complementario_regular;
            &:after,&:before{
                height: 3px;
                background: $color_complementario_regular;
            }
        }
        @include active-state{
            span{
                background: $color_white;
                &:after,&:before{
                    background: $color_white;
                }
            }
        }
        &.deployed{
            background: $color_corporativo_regular;
            span{
                background: transparent;
                &:after,&:before{
                    background: $color_white;
                }
            }
            @include active-state{
                span{
                    background: transparent;
                    &:after,&:before{
                        background: $color_white;
                    }
                }
            }
        }
    }
    .mobile-search-deployer{
        background: $color_white;
        display: none;
        align-items: center;
        justify-content: center;
        border-left: 1px solid $color_border;
        font-size: 2rem;
        font-weight: $weight_medium;
        color: $color_corporativo_regular;
        @include vertical-tablet-down{
            display: flex;
        }
        &:after{
            @include get-icon($icon-search);
        }
        &.deployed{
            color: $color_white;
            background: $color_corporativo_dark;
            &:after{
                @include get-icon($icon-close);
            }
        }
        @include active-state{
            color: $color_white;
            &:after{
                color: $color_white;
            }
        }
    }
}
.mobile-nav{
    width: auto;
    margin-right: 3rem;
}

/***************/
/****HORIZON****/
/***************/
.horizon{
    margin: 0;
    padding: 3rem 0;
    background: $color_white;
    @include smalltablet-down{
        padding: 2rem 0;
    }
    &__title{
        font-size: $size_28;
        line-height: 2rem;
        font-family: $font_aux;
        font-weight: $weight_bold;
        padding: 0 0 0 .5rem;
        margin: 0 0 1.5rem;
        color: $color_dark;
        text-transform: none;
        &:after{
            content: none;
        }
        @include vertical-tablet-down{
            font-size: $size_24;
            margin: 0 0 1rem;
        }
        &.clean{
            padding: 0;
        }
        &.inner{
            padding: 0;
            text-transform: none;
            font-size: $size_36;
            line-height: $size_40;
        }
    }
    &__subtitle{
        display: inline-flex;
        font-size: $size_28;
        font-family: $font_aux;
        line-height: 2rem;
        margin: 0 0 1.5rem;
        padding: 0 0 0 .5rem;
        &:after{
            @include get-icon($icon-chevron_right);
            margin-left: .5rem;
        }
        @include smalltablet-down{
            padding: 0 0 0 .25rem;
        }
        &.clear{
            padding: 0;
            margin: 0;
            font-size: $size_24;
            line-height: $size_28;
            display: block;
            &:after{
                content: none;
            }
            + .simple-forms:not(.static){
                margin: 1rem 0 0;
                padding: 1rem;
            }
            @include smalltablet-down{
                padding: 0;
            }
        }
        &.inner{
            font-size: $size_28;
            line-height: $size_32;
            display: block;
            margin: 0 0 1rem;
            padding: 0 0 0 .5rem;
            &:after{content: none;}
            @include smalltablet-down{
                padding: 0 0 0 .25rem;
            }
        }
        &.aux{
            @extend .horizon__subtitle.clear;
            margin: 0 0 1rem;
            padding-left: .5rem;
            @include smalltablet-down{
                padding: 0 0 0 .25rem;
            }
        }
    }
    &__multitle{
        display: flex;
        @include flex-wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1.5rem;
        padding: 0 .5rem;
        .horizon{
            &__title{
                margin: 0;
                padding: 0;
                &:after{
                    @include get-icon($icon-chevron_right);
                }
                &-minilink{
                    margin: 0;
                    a{
                        @extend .button--link-color;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                        &:after{
                            @include get-icon($icon-chevron_right);
                            line-height: 0;
                        }
                    }
                    @include smalltablet-down{
                        display: none;
                    }
                }
            }
        }
    }
    &__minititle{
        font-size: 1rem;
        line-height: 1.25rem;
        font-weight: $weight_light;
        margin: 0;
    }
    &__excerpt{
        @extend .simple-box__excerpt;
        padding: 0 .5rem;
        margin: 0 0 1.5rem !important;
        @include smalltablet-down{
            padding: 0 .25rem
        }
    }
    &--main{
        padding: 0;
        @extend .clearfix;
        &.overflow{
            .simple{
                &__form{
                    position: absolute;
                    width: 80%;
                    right: 0;
                    margin: 0;
                    top: -2%;
                }
            }
            .main-slider-holder,
            .simple__slider__container,
            .main-slider-holder .main-slider{
                @extend .clearfix;
                overflow: visible;
                height: 100%;
            }
        }
        .simple{
            &__slider{
                &__caption{
                    width: 60%;
                    max-width: 60%;
                    padding-left: 0;
                    @include vertical-tablet-down{
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        padding: 1rem;
                        align-items: flex-start;
                        text-align: left;
                    }
                }
                &__addon{
                    width: 40%;
                    max-width: 40%;
                }
                &__title{
                    font-family: $font_aux;
                    font-size: $size_32;
                    font-weight: $weight_bold;
                    line-height: $size_36;
                }
                &__excerpt{
                    font-size: $size_18;
                    line-height: $size_24;
                    font-weight: $weight_regular;
                }
                &__data{
                    margin: 1rem 0 0;
                    display: flex;
                    color: $color_white;
                    @include phablet-down{
                        flex-direction: column;
                        margin: 0;
                    }
                }
                &__elem{
                    margin: 0 1rem 0 0;
                    font-size: 1rem;
                    line-height: 1.25rem;
                    &:last-child{
                        margin: 0;
                    }
                    &:before{
                        margin-right: .5rem;
                    }
                    &.tipo{
                        &:before{@include get-icon($icon-library_books)}
                    }
                    &.sence{
                        &.ok:before{@include get-icon($icon-check)}
                        &.nop:before{@include get-icon($icon-close)}
                    }
                    @include phablet-down{
                        margin: 0 0 .5rem
                    }
                }
                &__addon{
                    position: relative;
                    padding-right: 0;
                }
                img{
                    max-height: 600px;
                    @include vertical-tablet-down{
                        max-height: 500px;
                    }
                }
            }
            &__form{
                position: relative;
                width: 80%;
                left: 20%;
                margin: 0;
                // transform: translateY(-35%);
                background: $color_corporativo_regular;
                border: none;
                color: $color_white;
                .form-control{
                    padding: 0 0 1.5rem;
                    font-size: $size_12;
                    &:last-child{
                        padding: 0;
                    }
                    &__field,&__select{
                        padding: .75rem;
                        padding-right: 1rem;
                    }
                    &__link{
                        @extend .button--link;
                    }
                    p{
                        font-size: $size_14;
                        color: $color_white;
                    }
                }
                .form-title{
                    font-weight: $weight_bold;
                    font-size: $size_18;
                    line-height: $size_24;
                    margin: 0 0 .75rem;
                }
                @include tablet-down{
                    width: 100% !important;;
                    max-width: 100% !important;
                    left: 0;
                }
                @include smalltablet-down{
                    padding: 2rem 1rem;
                }
            }
        }
    }
    &--call{
        padding: 4rem 0;
        background: $color_corporativo_regular;
        color: $color_white;
        .container{
            @include flex-wrap;
            align-items: center;
            max-width: 1000px;
            @include vertical-tablet-down{
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    &--min{
        @extend .horizon--call;
        padding: 4rem;
        @include flex-wrap;
        align-items: center;
        @include vertical-tablet-down{
            padding: 2rem;    
            flex-direction: column;
            align-items: flex-start;
        }
        @include phablet-down{
            padding: 2rem 1rem;
        }
    }
    &--special{
        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        &__overlay{
            background: rgba($color_corporativo_regular, .9);
            padding: 5rem 0;
        }
    }
    &--head{
        background: $color_gray_alt;
        &--single{
            padding: 2rem 0 0;
            .horizon__title{
                margin: 0;
            }
        }
    }
    &--mini{
        padding: 1.5rem 0;
    }
    &--start{
        padding-top: 1rem;
    }
    &--end{
        padding-bottom: 0;
    }
    &--map{
        @extend .horizon--end;
        margin-bottom: -3rem;
    }
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.col-container{
    @extend .flex-container;
    flex-direction: column;
}
.separator{
    margin: 1.5rem 0 1rem;
    display: block;
    width: 100%;
    overflow: hidden;
}
.single__content{
    .separator:first-child{
        margin: 0 0 1rem;
    }
}
.call{
    &__message{
        flex: 2;
        margin-right: 2rem;
        @include vertical-tablet-down{
            margin: 0 0 2rem;
            width: 100%;
        }
    }
    &__action{
        flex: 1;
        @include vertical-tablet-down{
            width: 100%;
        }
    }
    &__title{
        @extend .horizon__title;
        padding: 0;
        color: $color_white;
        font-size: $size_24;
    }
}
.form-mobile{
    .simple__form{
        position: relative !important;
        width: 100% !important;
        transform: translateX(0) !important;
    }
}
/***************/
/****SIMPLE****/
/***************/

//parent
.simple-box{
    position: relative;
    padding: 1rem;
    &__title{
        font-size: 1rem;
        line-height: 1.25rem;
        margin: 0 0 .5rem;
        font-weight: $weight_bold;
        display: block;
        width: 100%;
        a{
            color: $color_dark;
            text-decoration: none;
            @include transitional;
            &:hover{
                color: $color_corporativo_regular;
                text-decoration: underline;
                @include transitional;
            }
        }
    }
    &__meta{
        font-size: $size_12;
        line-height: 1rem;
        color: $color_dark;
        text-decoration: none;
        margin: 0 0 .5rem;
        a{
            color: $color_dark;
            text-decoration: none;
            @include transitional;
            &:hover{
                color: $color_corporativo_regular;
                text-decoration: underline;
                @include transitional;
            }
        }
    }
    &__excerpt{
        margin: .5rem 0 0;
        font-size: $size_14;
        line-height: $size_18;
        color: $color_dark;
        font-weight: $weight_light;
        display: block;
        width: 100%;
        p{
            margin: 0 0 .5rem;
            &:last-child{
                margin: 0;
            }
        }
    }
    &__extra{
        font-size: $size_12;
        line-height: 1rem;
        font-weight: $weight_light;
    }
    &__figure{
        width: 100%;
        position: relative;
    }
    &__body{
        padding: 1.5rem;
    }
    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        &--inline{
            @extend .simple-box__list;
            display: flex;
        }
    }
    &.horizontal{
        border: 1px solid $color_border;
        @include box-hover;
        margin: 0 0 1rem;
        padding: 0;
        &:last-child{
            margin: 0;
        }
        .simple-box{
            &__title{
                 margin: 0;
            }
            &__excerpt{
                margin: .5rem 0 0;
            }
        }
    }
}
.simple-link{
    &-underline{
        font-weight: $weight_bold;
        font-size: $size_12;
        line-height: 1rem;
        text-decoration: underline;
        &:hover{
            text-decoration: none;
        }
    }
    &-clean{
        font-weight: $weight_bold;
        font-size: $size_12;
        line-height: 1rem;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &-main-small{
        @extend .simple-link-underline;
        color: $color_corporativo_regular;
        &:hover{
            color: $color_corporativo_dark;
        }
    }
    &-second-small{
        @extend .simple-link-underline;
        color: $color_complementario_regular;
        &:hover{
            color: $color_complementario_dark;
        }
    }
}
//childs
.simple-prog{
    @include box-hover;
    @include vertical-tablet-down{
        margin: 0 0 1rem;
    }
    &__figure{
        @extend .simple-box__figure;
    }
    &__body{
        @extend .simple-box__body;
    }
    &__meta{
        @extend .simple-box__meta;
        text-transform: uppercase;
    }
    &__title{
        @extend .simple-box__title;
        margin: 0 0 .75rem;
    }
    &__info{
        display: flex;
        margin: .5rem 0 0;
        p{
            margin: 0 .5rem 0 0;
            @include smalltablet-down{
                margin: 0 .25rem 0 0;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
    &__data{
        @extend .simple-box__meta;
        font-weight: $weight_light;
        &:before{
            color: $color_complementario_regular;
            margin-right: .25rem;
        }
        &.type:before{@include get-icon($icon-library_books)}
        &.sence-ok:before{@include get-icon($icon-check)}
        &.sence-no:before{@include get-icon($icon-close)}
        @include tablet-down{
            margin: .5rem 0 0;
        }
    }
    &__destacado{
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background: $color_corporativo_regular;
        color: $color_white;
        font-size: $size_12;
        font-weight: $weight_bold;
        padding: .115rem .25rem;
        display: flex;
        align-items: center;
        &:before{
            @include get-icon($icon-check);
            display: flex;
            align-items: center;
            height: 1rem;
            margin-right: .25rem;
            color: $color_white;
            background: $color_complementario_regular;
            padding: .115rem;
            border-radius: 50%;
        }
    }
}
.prog-grid{
    .simple-prog{
        margin: 0 0 1rem;
    }
}
.simple-case{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    @include vertical-tablet-down{
        margin: 0 0 .5rem;
    }
    &__figure{
        @extend .simple-box__figure;
    }
    &__body{
        @include flex-center-column;
        position: absolute;
        align-items: flex-start;
        padding: 1rem;
        bottom: 0;
        width: 100%;
        height: 40%;
        overflow: hidden;
        color: $color_white;
        @include black-gradient;
        @include transitional;
        @include vertical-tablet-down{
            height: 30%;
        }
        @include smalltablet-down{
            height: 40%;
        }
        @include phablet-down{
            height: 35%;
        }
    }
    &__meta,&__title{
        margin: 0;
    }
    &__title{
        @extend .simple-box__title;
        margin: .5rem 0 0;
        height: 40px;
        font-weight: $weight_bold;
        text-overflow: ellipsis;
        overflow: hidden;
        a{
            color: $color_white;
            display: inline-block;
            &:hover{
                color: $color_light;
            }
            &.title-pre{
                display: inline;
            }
            &.title-post{
                display: none;
            }
        }
    }
    &__meta{
        @extend .simple-box__meta;
        margin: 0;
        text-transform: uppercase;
        color: $color_white;
        a{
            color: $color_white;
            &:hover{
                color: $color_light;
            }
        }
    }
    &:hover{
        .simple-case{
            &__body{
                height: 100%;
                background: $color_complementario_regular;
                @include transitional;
            }
            &__title{
                text-overflow: initial;
                height: auto;
                a:after{content: none;}
                a{
                    &.title-pre{
                        display: none;
                    }
                    &.title-post{
                        display: inline;
                    }
                }
            }
        }
    }
    &.main{
        margin: 0 .25rem 2rem;
        @include transitional;
        .simple-case{
            &__body{
                height: 100%;
                padding: 2rem;
                @include flex-col-start-end;
                @include black-gradient;
                @include transitional;
                @include vertical-tablet-down{
                    padding: 1rem;
                }
            }
            &__title{
                font-size: $size_24;
                line-height: 2rem;
                height: auto;
                @include smalltablet-down{
                    font-size: 1rem;
                    line-height: 1.25rem;
                }
            }
            &__meta{
                font-size: 1rem;
                @include smalltablet-down{
                    font-size: $size_12;
                }
            }
            &__figure{
                @include smalltablet-down{
                    .cover-img{
                        width: 200%;
                        max-height: 400px;
                        margin-left: -50%;
                    }
                }
            }
        }
        &:hover{
            .simple-case{
                &__body{
                    background: rgba($color_black, .5);
                    @include transitional;
                }
            }
        }
    }
}
.simple-agenda{
    background: $color_gray_alt;
    @extend .simple-box__body;
    @include flex-wrap;
    @include vertical-tablet-down{
        margin: 0 0 1rem;
    }
    &__when{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__body{
        flex: 7;
        margin-left: 1rem;
    }
    &__mintitle{
        border-bottom: 3px solid $color_complementario_regular;
        color: $color_complementario_regular;
        font-size: $size_12;
        line-height: $size_12;
        margin: 0 0 .5rem;
        font-weight: $weight_bold;
        text-align: center;
        letter-spacing: .25px;
    }
    &__date{
        span{
            display: block;
            width: 100%;
            text-align: center;
            font-weight: $weight_bold;
            color: $color_complementario_regular;
            &:first-child{
                font-size: 2rem;
                line-height: 2.5rem;
            }
            &:last-child{
                font-size: 1rem;
                line-height: 1.25rem;
            }
        }
    }
    &__meta{
        @extend .simple-box__meta;
        text-transform: uppercase;
    }
    &__title{
        @extend .simple-box__title;
    }
    &__place{
        @extend .simple-box__extra;
        margin: .5rem 0 0;
        a{
            color: $color_dark;
            text-decoration: none;
            &:hover{
                color: $color_primario_regular;
                text-decoration: underline;
            }
        }
        &:before{
            @include get-icon($icon-place);
            margin-right: .25rem;
        }
    }
}
.simple-news{
    @include box-hover;
    @include smalltablet-down{
        margin: 0 0 1rem;
    }
    &__figure{
        @extend .simple-box__figure;
    }
    &__body{
        @extend .simple-box__body;
    }
    &__title{
        @extend .simple-box__title;
        margin: 0;
        &.external{
            &:after{
                @include get-icon($icon-open_in_new);
                margin-left: .25rem;
            }
        }
    }
    &__excerpt{
        @extend .simple-box__excerpt;
        margin: .5rem 0 0;
    }
    &__extra{
        margin: .75rem 0 0;
    }
    &__frame{
        overflow: hidden;
        .issuuembed{
            height: 200px !important;
            width: 100% !important;

        }
    }
}
.boletin-box{
    @include box-hover;
    &__body{
        @extend .simple-box__body;
    }
    &__title{
        @extend .simple-box__title;
        margin: 0 0 1rem;
    }
    &__call{
        margin: 0;
    }
}
.simple-download{
    margin: 0 0 .5rem;
    padding: 1rem;
    @include flex-wrap;
    align-items: center;
    background: $color_gray_alt;
    position: relative;
    @include smalltablet-down{
        flex-direction: column;
        padding-left: 3rem;
    }
    &:before{
        @include get-icon($icon-attach_file);
        position: relative;
        font-size: 1.5rem;
        @include smalltablet-down{
            position: absolute;
            left: 1rem;
            top: 1rem;
        }
    }
    &:last-child{
        margin: 0;
    }
    &__body, &__action{
        display: flex;
    }
    &__body{
        width: 60%;
        margin-right: 2rem;
        padding-left: 2rem;
        @include smalltablet-down{
            width: 100%;
            margin: 0 0 1.5rem;
            padding-left: 0;
        }
    }
    &__action{
        flex: 1;
        @include smalltablet-down{
            width: 100%;
        }
    }
    &__title{
        @extend .simple-box__title;
        margin: 0;
    }
}
.simple-access{
    border: 1px solid $color_border;
    @include box-hover;
    @include flex-center-row;
    flex-wrap: wrap;
    margin: 0 0 1rem;
    @include phablet-down{
        flex-direction: column;
    }
    &:last-child{
        margin: 0;
    }
    &__body{
        padding: 1rem 1.5rem;
        width: 70%;
        flex: 1 1 0;
        @include phablet-down{
            padding: 1rem;
        }
    }
    &__figure{
        width: 30%;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    &__body, &__figure{
        @include flex-center-column;
        @include phablet-down{
            width: 100%;
        }
    }
    &__title{
        @extend .simple-box__title;
    }
    &__excerpt{
        @extend .simple-box__excerpt;
    }
}
.simple-sede{
    border: 1px solid $color_border;
    @include box-hover;
    margin: 0 0 1rem;
    &__title{
        @extend .simple-box__title;
    }
    &__figure{
        @extend .simple-box__figure;
    }
    &__body{
        @extend .simple-box__body;
    }
    &__place{
        @extend .simple-box__title;
        margin: 0;
        color: $color_complementario_regular;
        font-size: $size_14;
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 1rem;
        &:before{
            @include get-icon($icon-place);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.simple-person{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    width: 20rem;
    max-width: 100%;
    @include smalltablet-down{
        width: 100%;
    }
    &__figure, &__body{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__figure{
        width: 5rem;
        height: 5rem;
        overflow: hidden;
        img{
            width: 100%;
        }
    }
    &__body{
        width: auto;
        background: $color_gray_alt;
        padding: .5rem 1rem;
        flex: 1;
    }
    &__title{
        font-size: $size_12;
        font-weight: $weight_bold;
        margin: 0 0 .25rem;
    }
    &__cargo{
        font-size: $size_12;
        font-weight: $weight_light;
        margin: 0;
    }
}
.simple-message{
    max-width: 40rem;
    width: 100%;
    margin: 2rem 0 0;
    padding: 1rem;
    border: 1px solid $color_border;
    &__title{
        font-size: $size_24;
        line-height: $size_28;
        font-weight: $weight_bold;
        font-family: $font_aux;
        margin: 0 0 1rem;
    }
    &__excerpt{
        @extend .simple-box__excerpt;
    }
}

.simple-socialbread{
    padding: .5rem 0;
    background: $color_white;
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @include vertical-tablet-down{
        padding: 1rem 0;
    }
}

.simple-breadcrumbs,
.simple-socialshare{
    @extend .simple-box__list--inline;
}

.simple-breadcrumbs{
    margin-right: auto;
    @include smalltablet-down{
        display: none;
    }
    &__item{
        display: flex;
        align-items: center;
        font-size: $size_12;
        color: $color_dark;
        a{
            color: $color_complementario_regular;
            text-decoration: underline;
            font-weight: $weight_bold;
        }
        &:after{
            @include get-icon($icon-chevron_right);
            margin: 0 .125rem;
        }
        &.current{
            &:after{
                content: none;
            }
        }
    }
}

.simple-socialshare{
    align-items: center;
    font-size: $size_12;
    font-weight: $weight_light;
    line-height: 1rem;
    &__item{
        margin: 0 0 0 .25rem;
        font-size: 1rem;
        line-height: 1rem;
        a,button{
            color: $color_white;
            text-decoration: none;
            width: 2rem;
            height: 2rem;
            border: none;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                color: $color_white;
            }
            &:focus{
                outline: none;
            }
            @include smalltablet-down{
                width: 3rem;
                height: 3rem;
                box-shadow: 1px 10px 10px rgba($color_black, .25);
            }
        }
        &.facebook a{ background:$color_facebook; &:after{@include get-icon($icon-facebook)} &:hover{background: $color_facebook_dark;}}
        &.twitter a{ background:$color_twitter; &:after{@include get-icon($icon-twitter)}&:hover{background: $color_twitter_dark;}}
        &.print a{ background:$color_print; &:after{@include get-icon($icon-print)}&:hover{background: $color_print_dark;}}
        &.sendmail button{ background:$color_mail; &:after{@include get-icon($icon-markunread)}&:hover{background: $color_mail_dark;}}
        &.whatsapp a{ background:$color_whatsapp; &:after{@include get-icon($icon-whatsapp)}&:hover{background: $color_whatsapp_dark;}}
    }
    &__null{
        margin-right: .5rem;
    }
    &.fixed{
        position: fixed;
        bottom: 0;
        top: auto !important;
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 .5rem .5rem;
        z-index: 2;
    }
}

.simple-container{
    margin: 1rem 0;
    display: flex;
    &.double{
        margin: 2rem 0;
    }
    @include smalltablet-down{
        flex-direction: column;
    }
}
.simple-row{
    @extend .simple-container;
    margin: 0;
    width: 100%;
    max-width: 100%;
}
.simple-forms{
    margin: 2rem 0 0;
    background: $color_gray_alt;
    padding: 2rem;
    @include smalltablet-down{
        padding: 1rem;
        &.static{
            padding: 1rem;
            margin: 1rem 0 2rem;
        }
        .grid-3{
            padding: 0;
            margin: 0 0 1.5rem;
            &:last-child{
                margin: 0;
            }
        }
    }
    &__choose{
        display: flex;
        label:first-child{
            margin: 0 1rem 0 0;
        }
    }
    &.mobile{
        margin: 1rem 0 3rem;
        padding: 0;
        .simple-forms{
            margin: 0;
            padding: 2rem 0;
        }
        .simple-form{
            flex-direction: column;            
        }
    }
}
.choose{
    &-control{
        margin-right: 2rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:last-child{
            margin: 0;
        }
        label{
            font-weight: $weight_light;
            cursor: pointer;
        }
        @include smalltablet-down{
            flex: 1;
        }
    }
}
.post-filter{
    margin: 2rem 0;
    @include flex-sb-center;
    @include smalltablet-down{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 2rem;
    }
    &__message{
        font-size: $size_18;
        line-height: $size_18;
        margin: 0;
        @include smalltablet-down{
            width: 100%;
            margin: 0 0 1rem;
        }
    }
    &__results{
        font-weight: $weight_bold;
        font-style: italic;
        &:after,&:before{
            content: '"';
        }
        @include smalltablet-down{
            width: 100%;
        }
    }
    .choose-control{
        input{
            border-radius: 0;
        }
        label{
            margin-left: .5rem;
            font-size: $size_14;
            cursor: pointer;
        }
    }
}
.chevron-list{
    @extend .simple-box__list;
    margin: 1.5rem 0 1rem;
    &__item{
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        font-size: 1rem;
        font-weight: $weight_light;
        position: relative;
        margin: 0 0 1rem;
        &:before{
            @include get-icon($icon-chevron_right);
            position: absolute;
            top: 0;
            left: 0;
        }
        a{
            font-size: $size_14;
            font-weight: $weight_bold;
            color: $color_complementario_regular;
            text-decoration: none;
            &:after{
                @include get-icon($icon-open_in_new);
                margin-left: .15rem;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        h3,h4,h5,h6, p{
            margin: 0 0 .5rem;
            font-size: inherit;
            &:last-child{
                margin: 0;
            }
        }
    }
}
.child-list{
    @extend .simple-box__list;
    margin: 1.5rem 0 0;
    &__item{
        display: flex;
        padding-left: 1.5rem;
        font-size: $size_14;
        line-height: $size_18;
        font-weight: $weight_medium;
        position: relative;
        margin: 0 0 1rem;
        &:last-child{
            margin: 0;
        }
        a{
            color: $color_corporativo_regular;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        &.current{
            color: $color_complementario_regular;
            &:before{
                @include get-icon($icon-chevron_right);
                position: absolute;
                left: 0;
            }
        }
    }
}
.simple-form{
    overflow: hidden;
    margin: 2rem 0 0;
    display: none;
    &__control{
        @extend .grid-6;
        @extend .grid-smalltablet-12;
        display: flex;
        flex-direction: column;
        margin: 0 0 2rem;
        &.full{
            width: 100%;
            @extend .no-gutter;
        }
        &:nth-child(odd){
            @extend .no-gutter-left;
        }
        &:nth-child(even){
            @extend .no-gutter-right;
        }
        &.end{
            margin: 0;
        }
        @include smalltablet-down{
            padding: 0;
        }
        .simple-forms__choose{
            margin: .5rem 0 0;
        }
    }
    &__label{
        font-size: $size_14;
        font-weight: $weight_bold;
        line-height: 1rem;
        margin: 0 0 .5rem;
    }
    &__field{
        @extend .form-control__field;
        border: 1px solid $color_border;
        padding: .7rem 1.5rem .7rem .5rem;
        font-size: $size_14;
        line-height: $size_14;
        margin: 0 0 .25rem;
        @include placeholder-color($color_border);
        &:focus{
            border: 1px solid $color_corporativo_regular;
        }
        &.mini{
            flex: 1;
            margin: 0 0 0 .25rem;
        }
        @include smalltablet-down{
            font-size: 1rem;
        }
    }
    &__select{
        @extend .form-control__select;
        margin: 0 0 .25rem;
        padding: .7rem .5rem;
        &.mini{
            max-width: 20%;
            margin: 0 .25rem 0 0;
        }
        &:focus{
            border: 1px solid $color_corporativo_regular;
        }
        @include smalltablet-down{
            font-size: 1rem;
        }
    }
    &__group{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 .25rem;
    }
    &__text{
        @extend .simple-box__meta;
        margin: 0;
        a{
            @extend .simple-link-second-small;
        }
    }
    &__checkbox{
        @extend .form-control__check;
    }
    &.active, &.filter{
        display: block;
    }
    &.filter{
        margin: 0;
        display: flex;
        align-items: flex-end;
        @include smalltablet-down{
            flex-direction: column;
            align-items: center;
        }
        &.special{
            @include desktop-down{
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .simple-form__select{
            margin: 0;
            padding: .875rem .5rem;
        }
    }
    &.intern{
        margin: 0;
        display: block;
    }
}

.simple-help{
    background: $color_gray_alt;
    padding: 2rem;
    margin: 0 0 1rem;
    @include smalltablet-down{
        padding: 1rem;
    }
    .chevron-list{
        margin: 0;
        &__item{
            margin: 0;
        }
    }
    &:last-child{
        margin: 0;
    }
    &__title{
        font-size: $size_18;
        line-height: $size_22;
        font-weight: $weight_bold;
        margin: 0 0 1rem;
    }
    &__excerpt{
        font-size: $size_14;
        line-height: $size_18;
        font-weight: $weight_light;
        p{
            margin: 0 0 .5rem;
            &:last-child{
                margin: 0;
            }
        }
        a{
            font-weight: $weight_bold;
            text-decoration: underline;
            color: $color_complementario_regular;
        }
    }
}

.simple-paginator{
    @extend .simple-box__list--inline;
    @include smalltablet-up{
        margin-right: .5rem;
    }
    &__container{
        margin: 2rem 0 0;
        @include flex-col-center-start;
        flex-direction: row;
    }
    &__item{
        margin-right: 1px;
        &:last-child{
            margin: 0;
        }
        a, span{
            background: $color_gray_alt;
            color: $color_dark;
            font-weight: $weight_bold;
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            @include transitional;
            &:hover{
                background: $color_corporativo_regular;
                color: $color_white;
            }
        }
        &.current{
            a,span{
                background: $color_complementario_regular;
                color: $color_white;
            }
        }
        &.prev a:before{@include get-icon($icon-chevron_left)}
        &.next a:before{@include get-icon($icon-chevron_right)}
    }
}

//Single specs
.single{
    &__meta{
        @extend .simple-box__meta;
        margin: 0 0 1rem;
        text-transform: uppercase;
    }
    &__title{
        font-size: $size_32;
        line-height: 2.5rem;
        font-weight: $weight_bold;
        font-family: $font_aux;
        margin: 0 0 1.5rem;
        &.min{
            margin: 0 0 1rem;
        }
        &.clean{
            margin: 0;
        }
    }
    &__place, &__phone{
        color: $color_complementario_regular;
        font-size: $size_14;
        font-weight: $weight_bold;
        margin: 0 0 .25rem;
        a{
            color: $color_complementario_regular;
            text-decoration: none;
            &:hover{
                color: $color_complementario_regular;
                text-decoration: underline;
            }
        }
        &:before{
            margin-right: .125rem;
        }
    }
    &__place{
        &:before{
            @include get-icon($icon-place);
        }
    }
    &__phone{
        &:before{
            @include get-icon($icon-phone);
        }
    }
    &__excerpt{
        @extend .simple-box__excerpt;
        font-size: 1rem;
        line-height: 1.25rem;
        &--content{
            @extend .single__excerpt;
            margin: 0 0 1.5rem;
            p{
                margin: 0 0 .75rem;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    &__thumbnail{
        margin: 0 0 1.5rem;
    }
    &__data{
        @extend .simple-box__excerpt;
        margin: 0 0 2rem;
        display: flex;
        &__item{
            display: flex;
            margin: 0 1rem 0 0 !important;
            &:before{
                margin-right: .25rem;
            }
            &.type:before{@include get-icon($icon-library_books)}
            &.sence-ok:before{@include get-icon($icon-check)}
            &.sence-no:before{@include get-icon($icon-close)}
            &.mode:before{@include get-icon($icon-description)}
            &.time:before{@include get-icon($icon-timer)}
            @include smalltablet-down{
                margin: 0 0 .5rem !important;
                &:last-child{
                    margin: 0 !important;
                }
            }
        }
        @include smalltablet-down{
            flex-direction: column;
        }
    }
    &__actions{
        display: flex;
        align-items: center;
        .button{
            margin: 0 1rem 0 0;
            &:last-child{
                margin: 0;
            }
        }
        @include smalltablet-down{
            flex-direction: column;
            .button{
                width: 100%;
                margin: 0 0 1rem;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    &__content{
        h2,h3,h4,h5,h6{
            &:not(.simple-box__title){
                margin: 3rem 0 1rem;
                font-family: $font_aux;
                &:first-child{
                    margin: 0 0 1rem;
                }
            }
        }
        h2:not(.simple-box__title){font-size: $size_28;line-height: $size_32;}
        h3:not(.simple-box__title){font-size: $size_24;line-height: $size_28;}
        h4:not(.simple-box__title){font-size: $size_20;line-height: $size_24;}
        h5:not(.simple-box__title){font-size: $size_18;line-height: $size_22;}
        h6:not(.simple-box__title){font-size: $size_16;line-height: $size_20;}
        h3.first-head{margin: 0;}
        h3.horizon__minititle:not(.simple-box__title){font-size: 1.25rem !important;line-height: 1.25rem !important;font-weight: 300!important;margin: 0 0 1rem!important;}
        >p{
            margin: 1rem 0 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: $weight_light;
            &:last-child,&:only-child{
                margin: 0;
            }
            &:first-child{
                margin:  0 0 1rem;
            }
        }
        img, .wp-caption img{
            @extend .elastic-img;
        }
        p.wp-caption-text{
            @extend .simple-box__meta;
            margin: .25rem 0 0;
        }
        p:not(.simple-prog__data) a{
            color: $color_complementario_regular !important; 
            @include transitional;
            &:hover{
                color: $color_corporativo_regular !important;
                @include transitional;
            }
        }
        blockquote{
            font-size: $size_24;
            line-height: $size_32;
            font-style: italic;
            padding: 0 4rem;
            margin: 1.5rem 0;
            position: relative;
            @include vertical-tablet-down{
                padding: 0 2rem;
            }
            @include smalltablet-down{
                font-size: $size_20;
                line-height: $size_24;
                padding: 0 1rem;
            }
        }
    }
    &__quote{
        margin: 1.5rem 0;
        blockquote{
            margin: 0;
        }
        &__extra{
            font-size: $size_14;
            font-weight: $weight_light;
            margin: .5rem 0 0;
            padding-left: 4rem;
            @include vertical-tablet-down{
                padding-left: 2rem;
            }
            @include smalltablet-down{
                padding-left: 1rem;
            }
        }
    }
    &__logos,&__pages{
        overflow: hidden;
        margin: 1rem 0;
    }
    &__logos{
        div{
            margin: 0 0 .5rem;
        }
    }
    &__slider{
        @extend .holy__gallery;
        position: relative;
        &__body{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
            background: rgba($color_black, .5);
            color: $color_white;
            padding: 1rem;
            p{
                @extend .simple-box__excerpt;
                color: $color_white;
                margin: 0;
            }
            @include phablet-down{
                display: none;
            }
        }
        &__arrow{
            background-color: $color_corporativo_dark;
            &:hover{
                background-color: $color_corporativo_regular;
            }
        }
        &__bullets{
            position: relative !important;
            left: 0;
            bottom: 0 !important;
            width: 100%;
            padding: .5rem 0 !important;
            @include flex-center;
            @include phablet-down{
                position: absolute !important;
            }
        }
        &__bullet{
            width: $size_14 !important;
            height: $size_14 !important;
            margin: 0 .125rem 0 0 !important;
            border: none !important;
            background: $color_corporativo_dark !important;
            @include transitional;
            &:hover,&.current{
                background: $color_complementario_regular !important;
                border: none !important;
                @include transitional;
            }
            &:last-child{
                margin: 0 !important;
            }
        }
    }
    &__frame{
        position:relative;
        iframe{
            height: 400px !important;
            width: 100%;
            @include smalltablet-down{
                height: 250px !important;
            }
        }
        @include smalltablet-down{
            -webkit-overflow-scrolling: touch;
            overflow-x: scroll;
        }
    }
    &__audio{
        display: flex;
        flex-wrap: wrap;
        background: $color_gray_alt;
        margin-bottom: .25rem;
        p{
            margin: 0;
            padding: .8rem;
            font-size: $size_12;
            font-weight: $weight_semibold;
            display: inline-flex;
            @include smalltablet-down{
                padding: .5rem;
            }
        }
        button{
            @include reset-button;
            width: 10%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background: $color_corporativo_regular;
            border-radius: 0;
            @include transitional;
            &.remove{
                display: none;
            }
            &:after{
                color: $color_white;
            }
            &:hover,
            &.single__audio__pause{
                background: $color_complementario_regular;
            }
            &.single__audio__play{
                &:after{
                    @include get-icon($icon-play_arrow);
                }
            }
            &.single__audio__pause{
                &:after{
                    @include get-icon($icon-pause);
                }
            }
            @include smalltablet-down{
                width: 20%;
            }
        }
        &__body{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            @include smalltablet-down{
                width: 80%;
            }
        }
        &__name{
            width: 80%;
            @include phablet-down{
                width: 100%;
            }

        }
        &__duration{
            width: 20%;
            @include phablet-down{
                width: 100%;
                text-align: center;
            }
        }
    }
    &__sede{
        border-bottom: 1px solid $color_border;
        padding: .5rem 0;
        &__head{
            display: flex;
            justify-content: space-between;
            padding: 0 1rem;
        }
        &__body{
            display: none;
            padding: .5rem 1rem;
            @include transitional;
            &.active{
                display: block;
                @include transitional;
            }
        }
        &__title{
            font-size: $size_14 !important;
            line-height: $size_18 !important;
            margin: 0 !important;
        }
        &__deployer{
            @include reset-appearance;
            color: $color_complementario_regular;
            font-weight: $weight_bold;
            font-size: $size_12;
            line-height: 1rem;
            text-decoration: underline;
            padding: 0;
            &:after{
                @include get-icon($icon-chevron_down);
                @include transitional;
                margin-left: .25rem;
            }
            &.active{
                &:after{
                    @include rotate-x(-180deg);
                    @include transitional;
                }
            }
            &:hover{
                color: $color_complementario_light;
                text-decoration: none;
            }
        }
        &__row{
            display: flex;
            margin: 0 0 .25rem;
            font-size: $size_12;
            line-height: 1rem;
            &:last-child{
                margin: 0;
            }
            span{
                margin-left: .25rem;
                font-weight: $weight_light;
            }
        }
    }
    &__collapse{
        border-bottom: 1px solid $color_border;
        &__head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            position: relative;
        }
        &__title{
            @extend .simple-box__title;
            font-size: $size_18;
            line-height: $size_24;
            margin: 0;
        }
        &__deployer{
            @include reset-button;
            padding: 0;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            display: flex;
            justify-content: flex-end;
            &:after{
                @include get-icon($icon-chevron_down);
                @include transitional;
                font-size: 1.5rem;
                font-weight: $weight_bold;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
            &.active{
                &:after{
                    @include rotate-x(-180deg);
                    @include transitional;
                }
            }
        }
        &__body{
            @extend .simple-box__excerpt;
            display: none;
            padding: 0 1rem 1rem;
            margin: 0;
            &.active{
                display: block;
            }
            p{
                margin: 0 0 .5rem;
                &:last-child{
                    margin: 0;
                }
            }
        }
    }
    &-child{
        &__head{
            display: flex;
            overflow: hidden;
            margin-bottom: 1.5rem;
            @include smalltablet-down{
                flex-direction: column;
                margin-bottom: 0;
            }
        }
    }
}

//special
.special-content{
    @include flex-wrap;
    @include smalltablet-down{
        flex-direction: column;
    }
    .special{
        &__child, &__head{
            width: 25%;
            padding: 0 .5rem;
            color: $color_white;
            @include smalltablet-down{
                width: 100%;
                margin: 0 0 2rem;
                &:last-child{
                    margin: 0;
                }
            }
        }
        &__head{
            @include flex-col-center-start;
        }
        &__title{
            font-size: $size_28;
            line-height: 2rem;
            font-weight: $weight_bold;
            font-family: $font_aux;
            margin: 0 0 1rem;
            display: block;
            width: 100%;
        }
        &__excerpt{
            font-size: 1rem;
            line-height: 1.25rem;
            margin: 0;
        }
        &__child{
            @include flex-center-column;
            justify-content: flex-start;
            text-align: center;
            &__title{
                font-size: $size_36;
                line-height: $size_40;
                margin: 1rem 0;
                @include smalltablet-down{
                    font-size: $size_24;
                    line-height: $size_28;
                }
            }
            &__figure{
                max-width: 5rem;
                max-height: 5rem;
                cursor: pointer;
                @include transitional;
                .circle-box{
                    padding: 1rem;
                    @include transitional;
                }
                &:hover{
                    transform: scale(1.05);
                    @include transitional;
                    .circle-box{
                        background: $color_complementario_regular;
                        @include transitional;
                    }
                }
            }
            
        }
    }
}

.mini-horizon{
    padding: 4rem;
    margin: 1.5rem 0;
    background: $color_corporativo_regular;
    color: $color_white;
    @include flex-center-column;
    text-align: center;
    @include smalltablet-down{
        padding: 2rem;
    }
    &__title{
        font-size: $size_24;
        margin: 0 0 1rem;
    }
    &__excerpt{
        margin: 0 0 1rem;
        p{
            margin: 0 !important;
        }
    }
    &__actions{
        margin: 0;
    }
    div{
        width: 100%;
    }
}

.descarga-modal{
    display: flex;
    flex-direction: column;
    &__actions{
        display: flex;
        margin: 1rem 0 0;
        &.active{
            display: none;
        }
        @include smalltablet-down{
            flex-direction: column;
        }
        .button{
            flex: 1 1 auto;
            @include smalltablet-down{
                margin: 1rem 0 0;
            }
            &:only-child{
                margin: 0 auto;
                max-width: 15rem;
            }
        }
        .not-form{
            margin-left: 1rem;
            flex: 1 1 auto;
            @include smalltablet-down{
                margin: 1rem 0 0;
            }
            .button{
                width: 100%;
            }
        }
    }
    &__form{
        display: none;
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid $color_border;
        &.active{
            display: block;
        }
    }
    &__title{
        margin: 0 0 1rem;
        &.active{
            display: none;
        }
    }
    &__excerpt{
        margin: 0;
        p{
            margin: 0 0 .5rem;
            &:last-child{
                margin: 0;
            }
        }
    }
}

.main-footer{
    margin: 3rem 0 0;
    position: relative;
    z-index: 3;
    @include smalltablet-down{
        margin: 2rem 0 0;
    }
    &__site{
        padding: 2rem 0;
        background: $color_corporativo_regular;
        @include phablet-down{
            padding: 2rem 1rem;
        }
    }
    &__legal{
        padding: 1rem 0;
        background: $color_black;
        text-align: center;
        .legal-list{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;
            @include phablet-down{
                flex-direction: column;
            }
            .menu-item{
                margin-right: 3rem;
                @include smalltablet-down{
                    margin-right: 1rem;
                }
                @include phablet-down{
                    margin: 0 0 1rem
                }
                &:last-child{
                    margin: 0;
                }
                a{
                    font-size: $size_14;
                    color: $color_light;
                    text-decoration: underline;
                    &:hover{
                        color: $color_white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    &__logos{
        display: flex;
        align-items: flex-start;
        @include vertical-tablet-down{
            justify-content: center;
            margin: 0 0 2rem;
        }
    }
    &__logo{
        max-width: 6rem;
        margin-right: 2rem;
        @include vertical-tablet-down{
            margin-right: 1rem;
        }
        &:last-child{
            margin: 0;
        }
    }
    &__links{
        &.left{
            padding: 0 0 0 2rem;
            @include phablet-down{
                margin: 0 0 2rem;
                padding: 0;
            }
        }
        &.right{
            padding: 0 2rem 0 0;
            @include phablet-down{
                padding: 0;
            }
        }
    }
    &__interes{
        padding: 0 2rem;
        @include smalltablet-down{
            margin: 2rem 0 0;
        }
        @include phablet-down{
            padding: 0;
        }
    }
}

.footer{
    &-list{
        margin: 0;
        padding: 0;
        list-style: none;
        .menu-item{
            padding: 0 0 1rem;
            font-size: $size_12;
            line-height: 1rem;
            font-weight: $weight_light;
            a{ 
                color: $color_white;
                text-decoration: none;
                &:hover{
                    color: $color_light;
                    text-decoration: underline;
                }
            }
        }
        &.interes{
            .menu-item{
                &:before{
                    @include get-icon($icon-open_in_new);
                    color: $color_white;
                    margin-right: .25rem;
                }
            }
        }
        &.bold{
            .menu-item{font-weight: $weight_bold;}
        }
    }
    &__subtitle{
        margin: 0 0 1rem;
        color: $color_white;
        text-transform: uppercase;
        font-size: $size_12;
    }
}

//modal-detail
.lighbox-holder.programa-detail{
    width: 40%;
    position: relative;
    @include vertical-tablet-down{
        width: 60%;
    }
    @include phablet-down{
        width: 80%;
        margin: 0 auto;
    }
    @include bigphone-down{
        width: 98%;
        margin: 0 auto;
    }
    .lightbox-close-holder{
        position: absolute;
        right: 0;
        top: 0;
        padding: .5rem;
        button:after{
            font-size: 1.5rem;
            padding: 0;
            background: $color_complementario_regular;
        }
    }
}

@media print {
	.print-hide{
		display: none !important;
  	}
  	.print-break{
  	  page-break-after: always;
	}
	.grid-8{
		width: 100%;
	}
	.page-content{
		box-shadow: 0;
		box-shadow: none;
	}
}