/**MIXINS**/
@mixin flex-end{
    display: flex;
    justify-content: flex-end;
}

@mixin flex-col-end{
    @include flex-end;
    flex-direction: column;
}

@mixin flex-start{
    display: flex;
    justify-content: flex-start;
}

@mixin flex-col-start{
    @include flex-start;
    flex-direction: column;
}

@mixin flex-col-start-end{
    @include flex-end;
    flex-direction: column;
    align-items: flex-start;
}

@mixin flex-col-center-start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flex-stretch{
    display: flex;
    align-items: stretch;
}

@mixin flex-sb-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex-center-column{
	@include flex-center;
	flex-direction: column;
}

@mixin flex-center-row{
    @include flex-center;
    flex-direction: row;
}

@mixin absolute-flex-col-center{
    @include flex-center-column;
    position: absolute;
}

@mixin absolute-flex-row-center{
    @include flex-center-row;
    position: absolute;
}

@mixin transitional{
    @include ease-transition(.3s);
    &:hover{
        @include ease-transition(.3s);
    }
}

@mixin hover-corporativo{
    color: $color_corporativo_regular;
    text-decoration: underline;
}

@mixin hover-complementario{
    color: $color_complementario_regular;
    text-decoration: underline;
}

@mixin ease-transition($secs){
	-webkit-transition: ease $secs;
    -ms-transition: ease $secs;
	-moz-transition: ease $secs;
    transition: ease $secs;
}

@mixin rotate-x($deg){
    @include pre-transform(rotateX($deg));
}

@mixin rotate($deg){
    @include pre-transform(rotate($deg));
}

@mixin pre-transform($action){
    -webkit-transform: $action;
    -moz-transform: $action;
    -o-transform: $action;
    -ms-transform: $action;
    transform: $action;
}

@mixin get-icon($icon){
	content: $icon;
    font-family: $font_ketchup;
    display: inline-block;
}

@mixin image-replacement {
    font-size: 0;
    line-height: 0;
    color: transparent;
    font-family: a;
}

@mixin reset-button{
    border: none;
    border-radius: 0;
    background: transparent;
    &:focus{
        outline: none;
    }
}

@mixin reset-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0px;
    line-height: 1;
    border: 0px;
    outline: 0px;
    padding: 0px;
    &:focus{
        outline: none;
    }
}

@mixin image-replacement {
    font-size: 0;
    line-height: 0;
    font-family: a;
    color: transparent;
}

@mixin remove-select-arrow {
    text-indent: 0.01px;
    text-overflow: '';
    &::-ms-expand { display: none; }
}

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-ms-input-placeholder { @content; }
}

@mixin placeholder-color($color){
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder{
		color: $color;
	}
}

@mixin active-state {
    .no-touch &:hover, .no-touch &:active, .touch &:active, .touch &:hover {
        @content;
    }
}

@mixin dark-under($color){
    color: darken( $color, 10% );
    text-decoration: underline;
    @include transitional;
}

@mixin btn-icon( $name ) {
    &.icon-left.#{$name}:before, &.icon-right.#{$name}:after, &.icon-top.#{$name}:before {
        @content;
    }
}

@mixin box-hover{
    width: 100%;
    background: $color_white;
    border: 1px solid $color_border;
    @include transitional;
    &:hover{
        background: $color_gray_alt;
        @include transitional;
    }
}