$directions: (left, right, center);
$flex-directions: (flex-start, flex-end, center, space-around, space-between);

.font-line-through { text-decoration: line-through; }
.font-bold { font-weight: bold; }
.font-italic { font-style: italic; }

@each $dir in $directions{
	.floating-#{$dir}{
		float: $dir;
		background: red;
	}

	.align-#{$dir}{
		text-align: $dir;
	}
}

@each $flex in $flex-directions{
	//rows
	.flex-row-jc-#{$flex}{
		display: flex;
		flex-direction: row;
		justify-content: $flex;
	}

	.flex-row-ji-#{$flex}{
		display: flex;
		flex-direction: row;
		justify-items: $flex;
	}

	.flex-row-js-#{$flex}{
		display: flex;
		flex-direction: row;
		justify-self: $flex;
	}

	.flex-row-ai-#{$flex}{
		display: flex;
		flex-direction: row;
		align-items: $flex;
	}

	.flex-row-as-#{$flex}{
		display: flex;
		flex-direction: row;
		align-self: $flex;
	}

	//cols
	.flex-col-jc-#{$flex}{
		display: flex;
		flex-direction: column;
		justify-content: $flex;
	}

	.flex-col-ji-#{$flex}{
		display: flex;
		flex-direction: column;
		justify-items: $flex;
	}

	.flex-col-js-#{$flex}{
		display: flex;
		flex-direction: column;
		justify-self: $flex;
	}

	.flex-col-ai-#{$flex}{
		display: flex;
		flex-direction: column;
		align-items: $flex;
	}

	.flex-col-as-#{$flex}{
		display: flex;
		flex-direction: column;
		align-self: $flex;
	}
}

.reset-link{
	outline: none;
	text-decoration: none;
	color: $color_white;
	&:focus,&:active,&:visited,&:hover{
		text-decoration: none;
		color: $color_white;
		outline: none;
	}
}

.clearfix {
	&::before, &::after {
		content: "";
    	display: table;
	}

	&::after { clear: both; }
}

.round-box{
	border-radius: 50%;
	overflow: hidden;
}

.circle-box{
	border-radius: 50%;
	border: 2px solid $color_complementario_regular;
	overflow: hidden;
}

.elastic-img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.cover-img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.no-click{
	pointer-events: none;
	cursor: default;
}

[data-row]{
	max-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

textarea{
    resize: none;
}
.upper{
	text-transform: uppercase;
}
.lower{
	text-transform: lowercase;
}
.capital{
	text-transform: capitalize;
}

//common elements
.full-figure{
    position: relative;
    margin: 0;
    z-index: 1;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
		position: absolute;
	}
	iframe, .full-frame{
		width: 100%;
		height: 500px;
	}
    @include tablet-down{
        max-height: 300px;
    }
}

.jump-at{
	&--sm{
		@include smalltablet-down{
			margin: 0 0 2rem;
		}
	}
}

.nav-deployed{
	@include vertical-tablet-down{
		overflow: hidden;
		main, footer{
			opacity: .5;
		}
	}
}

.no-gutter-forced{
	padding: 0 !important;
}

.no-margin{
	&-smalltablet-down{
		@include smalltablet-down{
			margin: 0;
		}
	}
}

.grid-desktop-12{
	@include desktop-down{
		margin: 0 0 1.5rem;
	}
}

.unactive{
	display: none;
	&.active{
		display: block;
	}
}

.archive-grid{
	.simple-prog,
	.simple-case,
	.simple-news,
	.simple-sede{
		margin-bottom: 1rem;
	}
}
//hack life

$social_classes: (
	facebook,
	twitter,
	instagram,
	instagram-gr,
	youtube,
	youtube-play,
	linkedin,
	whatsapp
);
$social_colors: (
	$color_facebook,
	$color_twitter,
	$color_instagram,
	$instagram_gradient,
	$color_youtube,
	$color_youtube, //repeat para youtube play
	$color_linkedin,
	$color_whatsapp
);
$social_colors_light: (
	$color_facebook_light,
	$color_twitter_light,
	$color_instagram_light,
	$color_instagram_light,
	$color_youtube_light, //repeat para youtube play
	$color_youtube_light,
	$color_linkedin_light,
	$color_whatsapp_light
);
$social_colors_dark: (
	$color_facebook_dark,
	$color_twitter_dark,
	$color_instagram_dark,
	$color_instagram_dark,
	$color_youtube_dark, //repeat para youtube play
	$color_youtube_dark,
	$color_linkedin_dark,
	$color_whatsapp_dark
);
$social_icons: (
	$icon-facebook,
	$icon-twitter,
	$icon-instagram,
	$icon-instagram,
	$icon-youtube,
	$icon-play_arrow,
	$icon-linkedin,
	$icon-whatsapp
);

@mixin black-gradient{
    background: $black_50; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($black_01, $black_05, $black_25, $black_25, $black_25, $black_50, $black_50); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($black_01, $black_05, $black_25, $black_25, $black_25, $black_50, $black_50); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($black_01, $black_05, $black_25, $black_25, $black_25, $black_50, $black_50); /* For Firefox 3.6 to 15 */
	background: linear-gradient($black_01, $black_05, $black_25, $black_25, $black_25, $black_50, $black_50);   
	@include transitional; 
}

@mixin blacker-gradient{
    background: $black_75; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($black_05, $black_15, $black_25, $black_25, $black_50, $black_50, $black_75); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($black_05, $black_15, $black_25, $black_25, $black_50, $black_50, $black_75); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($black_05, $black_15, $black_25, $black_25, $black_50, $black_50, $black_75); /* For Firefox 3.6 to 15 */
	background: linear-gradient($black_05, $black_15, $black_25, $black_25, $black_50, $black_50, $black_75);    
	@include transitional;
}

$loading-element:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2032%2032%22%20width%3D%2235%22%20height%3D%2235%22%20fill%3D%22%23ffffff%22%3E%0A%20%20%3Cpath%20opacity%3D%22.25%22%20d%3D%22M16%200%20A16%2016%200%200%200%2016%2032%20A16%2016%200%200%200%2016%200%20M16%204%20A12%2012%200%200%201%2016%2028%20A12%2012%200%200%201%2016%204%22/%3E%0A%20%20%3Cpath%20d%3D%22M16%200%20A16%2016%200%200%201%2032%2016%20L28%2016%20A12%2012%200%200%200%2016%204z%22%3E%0A%20%20%20%20%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20from%3D%220%2016%2016%22%20to%3D%22360%2016%2016%22%20dur%3D%220.8s%22%20repeatCount%3D%22indefinite%22%20/%3E%0A%20%20%3C/path%3E%0A%3C/svg%3E%0A%0A) $color_white center center no-repeat;