//////////////////////////////////
////////////////////////////////// ICONS FONTS
//////////////////////////////////
$images_path: '../../dist/img/';

/***************/
/**Tipografías**/
/***************/

$font_base : 'Roboto', sans-serif;
$font_aux : 'Roboto Condensed', sans-serif;
$font_serif : serif;
$font_ketchup: 'material-ketchup';

//container max width
$max_width: 1136px;

/************/
/**Tamaños**/
/************/

//Reset tamaños en relación a 16px
$size_4:		.25rem;		//4px
$size_8:		.5rem;		//8px
$size_10:		.625rem;	//10px
$size_11:		.6875rem;	//11px
$size_12:	    .75rem;		//12px
$size_13:	    13px;		//12px
$size_14:	    .875rem;	//14px
$size_16: 	    1rem; 		//16px
$size_18: 	    1.125rem;   //18px
$size_20: 	    1.25rem;   	//20px
$size_21: 	    1.3125rem;	//21px
$size_22: 	    1.375rem;	//22px
$size_24: 	  	1.5rem;		//24px
$size_26: 	    1.675rem;   //26px
$size_28: 	    1.75rem; 	//28px
$size_32: 	    2rem;		//32px
$size_36: 	    2.25rem;	//36px
$size_40: 	    2.5rem; 	//40px
$size_48: 	    3rem;		//48px
$size_56: 	    3.5rem;		//56px
$size_64: 	    4rem;		//64px

$tipos : (
    mini : $size_11,
    tiny : $size_12,
    small : $size_14,
    regular : $size_16,
    regular-big : $size_18,
    regular-bigger : $size_20,
    big : $size_24,
    tall : $size_32,
    taller : $size_36,
    really-big : $size_40,
    huge : $size_48
);


/***************/
/**Pesos**/
/***************/

$weight_thin: 100;
$weight_light: 300;
$weight_regular: 400;
$weight_medium: 500;
$weight_semibold: 600;
$weight_bold: 700;
$weight_black: 900;


/********************************/
/*******Paleta de colores********/
/*******************************/

$color_corporativo_regular : #2C6E7D;
$color_corporativo_dark : darken($color_corporativo_regular, 10%);
$color_corporativo_darker : darken($color_corporativo_dark, 10%);
$color_corporativo_light : lighten($color_corporativo_regular, 10%);
$color_corporativo_lighter : lighten($color_corporativo_light, 10%);
$color_corporativo_alt : #616F90;

$color_black:           #000;
$color_dark:            #333;
$color_gray:            #666;
$color_gray_light:      #999;
$color_gray_lighter:    #ddd;
$color_gray_alt:        #F6F6F6;
$color_gray_extra:      #9b9b9b;
$color_light:           #ECECEC;
$color_white:           #fff;
$color_border:          #EEE;

$color_print:           #A77AC7;
$color_print_dark:      darken($color_print, 10%);

$color_mail:           #FF803F;
$color_mail_dark:      darken($color_mail, 10%);

$color_primario_darker : $color_corporativo_darker;
$color_primario_dark : $color_corporativo_dark;
$color_primario_regular : $color_corporativo_regular;
$color_primario_light : $color_corporativo_light;
$color_primario_lighter : $color_corporativo_lighter;
$color_primario_alt : $color_corporativo_alt;

$color_complementario_regular : #DA6D33;
$color_complementario_alt : #DA6D33;
$color_complementario_dark : darken($color_complementario_regular, 10%);
$color_complementario_darker : darken( $color_complementario_dark, 10% );
$color_complementario_light : lighten($color_complementario_regular, 10%);
$color_complementario_lighter : lighten( $color_complementario_light, 10% );

$color_auxiliar_dark : #7CA435;
$color_auxiliar_darker : darken( $color_auxiliar_dark, 10% );
$color_auxiliar_regular : #8DBA3C;
$color_auxiliar_light : lighten( $color_auxiliar_regular, 10% );
$color_auxiliar_lighter : lighten( $color_auxiliar_light, 10% );
$color_auxiliar_alt : lighten( $color_auxiliar_lighter, 10% );

// colores sociales
$color_twitter : #55acee;
$color_twitter_dark : darken( $color_twitter, 10%);
$color_twitter_darker : darken( $color_twitter, 15%);
$color_twitter_light : lighten( $color_twitter, 10%);
$color_twitter_lighter : lighten( $color_twitter, 15%); 

$color_facebook : #3b5998;
$color_facebook_dark : darken( $color_facebook, 10%);
$color_facebook_darker : darken( $color_facebook, 15%);
$color_facebook_light : lighten( $color_facebook, 10%);
$color_facebook_lighter : lighten( $color_facebook, 15%); 

$color_google : #df4a32;
$color_google_dark : darken( $color_google, 10%);
$color_google_darker : darken( $color_google, 15%);
$color_google_light : lighten( $color_google, 10%);
$color_google_lighter : lighten( $color_google, 15%); 

$color_linkedin : #0077b5;
$color_linkedin_dark : darken( $color_linkedin, 10%);
$color_linkedin_darker : darken( $color_linkedin, 15%);
$color_linkedin_light : lighten( $color_linkedin, 10%);
$color_linkedin_lighter : lighten( $color_linkedin, 15%); 

$color_issu : #ee5226;
$color_issu_dark : darken( $color_issu, 10%);
$color_issu_darker : darken( $color_issu, 15%);
$color_issu_light : lighten( $color_issu, 10%);
$color_issu_lighter : lighten( $color_issu, 15%); 

$color_youtube : #de1d25;
$color_youtube_dark : darken( $color_youtube, 10%);
$color_youtube_darker : darken( $color_youtube, 15%);
$color_youtube_light : lighten( $color_youtube, 10%);
$color_youtube_lighter : lighten( $color_youtube, 15%);

$color_instagram : #405de6;
$color_instagram_dark : darken( $color_instagram, 10%);
$color_instagram_darker : darken( $color_instagram, 15%);
$color_instagram_light : lighten( $color_instagram, 10%);
$color_instagram_lighter : lighten( $color_instagram, 15%);

$color_whatsapp : #4dc247;
$color_whatsapp_dark : darken( $color_whatsapp, 10%);
$color_whatsapp_darker : darken( $color_whatsapp, 15%);
$color_whatsapp_light : lighten( $color_whatsapp, 10%);
$color_whatsapp_lighter : lighten( $color_whatsapp, 15%);

$instagram_gradient: linear-gradient( #400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);

//helpers
$color_success_regular: 	$color_corporativo_light !default;
$color_success_dark: 		darken($color_success_regular, 10%);
$color_success_light: 		lighten($color_success_regular, 10%);

$color_warning_regular: 	#d9b00b !default;
$color_warning_dark: 		darken($color_warning_regular, 10%);
$color_warning_light: 		lighten($color_success_regular, 10%);

$color_danger_regular: 		#cc3c1f !default;
$color_danger_dark: 		darken($color_danger_regular, 10%);
$color_danger_light: 		lighten($color_danger_regular, 10%);

/// genero un mapa de colores
/// para usar en mixins
$colores : (
    corporativo : (
        darker : $color_corporativo_darker,
        dark : $color_corporativo_dark,
        regular : $color_corporativo_regular,
        light : $color_corporativo_light,
        lighter : $color_corporativo_lighter,
        alt : $color_corporativo_alt
    ),
    primario : (
        darker : $color_primario_darker,
        dark : $color_primario_dark,
        regular : $color_primario_regular,
        light : $color_primario_light,
        lighter : $color_primario_lighter,
        alt : $color_primario_alt
    ),
    complementario : (
        darker : $color_complementario_darker,
        dark : $color_complementario_dark,
        regular : $color_complementario_regular,
        light : $color_complementario_light,
        lighter : $color_complementario_lighter,
        alt : $color_complementario_alt
    ),
    auxiliar : (
        darker : $color_auxiliar_darker,
        dark : $color_auxiliar_dark,
        regular : $color_auxiliar_regular,
        light : $color_auxiliar_light,
        lighter : $color_auxiliar_lighter,
        alt : $color_auxiliar_alt
    )
);

// colores extras
$color_ust : #008272;
$color_ipcft : #00528C;
$color_capacitacion : #3F5E6E;
$color_colegios : #04A092;
$color_noticias : #9E2B57;

$black_01: rgba($color_black, .01);
$black_05: rgba($color_black, .05);
$black_10: rgba($color_black, .1);
$black_15: rgba($color_black, .15);
$black_25: rgba($color_black, .25);
$black_50: rgba($color_black, .5);
$black_75: rgba($color_black, .75);
$black_90: rgba($color_black, .9);