<section class="modal-box" data-role="modal-content">
	<div class="descarga-modal">
		<h2 class="descarga-modal__title">Gracias</h2>
		<div class="descarga-modal__excerpt">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
		</div>
		<div class="descarga-modal__actions">
			<a href="#" class="button download" data-role="modal-close" download>Descargar programa</a>
		</div>
	</div>
</section>
<script src="../dist/js/main.min.js"></script>
<script src="../dist/js/libs/modals.min.js"></script>