<section class="modal-box" data-role="modal-content">
	<div class="descarga-modal">
		<h2 class="descarga-modal__title">Antes de descargar ¿Desea que lo asesoremos?</h2>
		<div class="descarga-modal__actions">
			<button class="button" data-func="collapseControl" data-target="descarga-form">Si, deseo que me asesoren</button>
			<!-- <button class="button ghost" data-role="modal-btn">No, gracias</button> -->
			<a href="#" class="button ghost" download> No, gracias</a>
		</div>
		<form action="index.html" method="post" class="descarga-modal__form" data-target-name="descarga-form" data-module="common-form" data-validation="generic_submit">
			<div class="col-container">
				<div class="simple-form__control full">
					<input name="form-type" value="persona" type="hidden">
					<label for="asesoramiento-nombre" class="simple-form__label">Nombre*</label>
					<input type="text" class="simple-form__field" name="asesoramiento-nombre" id="asesoramiento-nombre" placeholder="Ingrese su nombre"
						data-custom-validation="onlyString" maxlength="50" required>
				</div>
				<div class="simple-form__control full">
					<label for="asesoramiento-email" class="simple-form__label">Coreo electrónico*</label>
					<input type="text" class="simple-form__field" name="asesoramiento-email" id="asesoramiento-email" placeholder="Ingrese su correo electrónico"
						required>
				</div>
				<div class="simple-form__control end">
					<input type="submit" class="button button--full" value="enviar">
				</div>
			</div>
		</form>
	</div>
</section>
<script src="../dist/js/main.min.js"></script>
<script src="../dist/js/libs/modals.min.js"></script>
